* {
    margin: 0;
    padding: 0;
}
.top_menu { 
    text-align: center;
    background: #fff;
    height: 100px;
    width: 1920px;    
}

.menu_item {
    list-style: none;
    display: inline;        
}

.menu_link {    
    text-decoration: none;
    font: 600 15px/80px 'Raleway', sans-serif; 
    color: #282b30;
    display: inline-block;
    margin-right: 60px;
}

.logo {
    transform: translatey(10px);
    margin: 0 83px 0 20px;
}

.main-banner{
    position: absolute;
    width: 601px;
    top: 283px;
    left: 210px;
}

.main-banner__images {
    width: 1920px;
    height: 869px;
}

.main-banner__title {
    font: 700 60px/115% 'Playfair Display',sans-serif;
}

.main-banner__text {
    width: 541px;
    font: 500 18px/150% 'Raleway',sans-serif  ;
    color: #0E0807;
    margin: 32px 0 0 0;
}

.button {
    background: #0E0807;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

.main-button {
    margin: 45px 0 0 0;
}

.button_background_accent {
    font: 600 18px/150% 'Raleway',sans-serif;
    color: #FFFFFF;
    padding: 12px 40px;
}

.main-button__link {
    margin:0 0 0 39px;
    text-decoration: none;
    font: 600 18px/150% 'Raleway',sans-serif;
    color: #0E0807;
}

.shop {
    width: 1920px;
    padding-top: 117px;
    padding-bottom: 237px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.shop_header {
    font: 700 36px/48px "Playfair Display", serif;
    color: #000000;
    margin-bottom: 35px;
    padding-left: 210px;
}

.items-block {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-left: 210px;
}

.item {
    display: flex;
    flex-direction: column;
    margin-right: 41px;
}

.description {
    display: flex;
    justify-content: space-between;
}

.item__title, .item__price {
    font: 18px/24px "Playfair Display", serif;
    color: #0E0807;
    margin-top: 16px;
}

.volume {
    font: 400 18px/21px "Raleway", serif;
    color: rgba(14, 8, 7, 0.5);
    margin-bottom: 20px;
}

.add_to_cart {
    width: 344px;
    color: #FFFFFF;
    font: 600 18px/27px "Raleway", serif;
    padding-top: 12px;
    padding-bottom: 12px;
}

.block-wrapper {
    width: 1920px;
    height: 909px;
}

.block-wrapper__content {
    display: inline-block;
    vertical-align: middle;
    width: 640px;
    margin-left: 210px;
    margin-right: 104px;
}

.content__title {
    font: 700 46px/53px 'Playfair Display', serif;
    color: #000000;
    margin-bottom: 35px;
}

.content__text {
    font: 500 18px/27px 'Raleway';
    color: #0E0807;
    margin-bottom: 35px;
}

.content__button {
    font: 600 18px/27px 'Raleway', serif;
    color: #0E0807;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid #0E0807;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 36px 0px;
    padding: 12px 40px;
}

.block-wrapper__picture {
    display: inline-block;
    vertical-align: middle;
    width: 960px;
    height: 900px;
}

.footer {
    width: 1920px;
    padding: 147px 210px;
    background-color: #F6F5F5;
;
}
.footer_nav{
    font: 500 18px/21px 'Raleway';    
    color: #000000;
    display: flex;

} 
.footer_link {
    text-decoration: none;
}
.footer_left {
    display: flex;
    flex-direction: column;   
    margin-bottom: 24px;
    margin-right: 200px;
}
.footer_right {
    display: flex;
    flex-direction: column;
    
}
.footer_link {
    margin-bottom: 24px;
    font: 500 18px/21px 'Raleway';    
    color: #000000;
}
.contact {
    font: 500 18px/21px 'Raleway';  
}
.contact__worck {
    text-align: end;    
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 1500px;
}

.footer_facebook {
    width: 40px;
    height: 40px;
    background: url("../images/facebook.png");
    display: inline-block;
    margin-right: 15px;
}

.footer_youtube {
 width: 40px;
    height: 40px;
    background: url("../images/YouTube.png");
    display: inline-block;
    margin-right: 15px;
}

.footer_telegram { 
    width: 40px;
    height: 40px;
    background: url("../images/telegram.png");
    display: inline-block;
    margin-right: 15px;
}

.social {
    text-align: end;
    margin-top: 26px;
}